.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}


.login-form-button {
    width: 80%;
}

.loginBg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../img/loginBg.jpg') no-repeat;
    background-size: 100% 100%;
}